.keypad {
    width: 200px;
    margin: 20px;
  }

  .keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  .key {
    padding: 10px;
    font-size: 18px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  
  input[type="text"] {
    width: 196px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

  .button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1,.button2 {background-color: #f7b320;}

.container {
  display: grid;
  grid-template-columns: 560px ;
  grid-row: 2;
}

.left {
  grid-column: 1;
  display: grid;
  grid-template-columns: 150px 260px 150px;
  grid-row: 3;
  background-color: rgb(177, 208, 255);
}

.button1{
  grid-column: 1;
  grid-row: 3;
  width: 150px;
}
.keypad{
  grid-column: 2;
  grid-row: auto;
}
.button2{
  grid-column: 3;
  grid-row: 3;
  width: 150px;
}

.right{
  grid-column: 2;
  display: grid;
  background-color: rgb(235, 235, 65);
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 320px 150px;
  grid-row: 3;
  grid-gap: 10px;
}

img{
  width: 320px;
  height: 320px;
}

#p1{
  grid-column: 1;
  grid-row: 1;
}
#p2{
  grid-column: 2;
  grid-row: 1;
}
#p3{
  grid-column: 3;
  grid-row: 1;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

li{
  font-size: 20pt;
  color: blue;
}

h1{
  text-align: center;
}