.keypad {
    width: 200px;
    margin: 20px;
  }

  .keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  .key {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  
  .key:hover{
    background-color: rgb(0, 253, 169);
  }

  input[type="text"] {
    width: 196px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(156, 255, 222);
  }

  input[type="text"]:hover{
    background-color: rgb(0, 253, 169);
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

  .button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1,.button2 {background-color: #f7b320;}

.container {
  display: grid;
  grid-template-columns: 560px ;
  grid-row: 2;
  grid-gap: 5px;
}

.left {
  grid-column: 1;
  display: grid;
  grid-template-columns: 150px 260px 150px;
  grid-row: 3;
  background-color: rgb(177, 208, 255);
  border-radius: 10px;
}

.button1{
  grid-column: 1;
  grid-row: 3;
  width: 145px;
  height: 100px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 25px;
  border-style: solid;
  border-color: #d47a12;
}

.button1:hover {
  background-color: rgb(34, 187, 34);
}

.keypad{
  grid-column: 2;
  grid-row: 2;
}

.button2{
  grid-column: 3;
  grid-row: 3;
  width: 145px;
  height: 100px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 25px;
  border-style: solid;
  border-color: #d47a12;
}

.button2:hover {
  background-color: red;
}

.right{
  grid-column: 2;
  display: grid;
  background-color: rgb(248, 224, 158);
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 280px 150px;
  grid-row: 3;
  grid-gap: 10px;
  border-radius: 10px;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#p1{
  grid-column: 1;
  grid-row: 1;
}
#p2{
  grid-column: 2;
  grid-row: 1;
}
#p3{
  grid-column: 3;
  grid-row: 1;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

li{
  font-size: 18pt;
  color: blue;
}

h1{
  margin-top: auto;
  text-align: center;
}

.picture{
  display: block;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: auto;
  width: 50%;
}